<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Poly-chat</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>
    <div id="login">
        <h2>{{ message }}</h2>
        <div id="nickname">
            <input id="uName" type="text" v-model.trim="nickname"  v-on:input="varifyNick(nickname)" placeholder="Nickname">
            <select id="language" v-model="selected">
                <option v-for="lang in langs" v-bind:value="lang.val">{{lang.descr}}</option>
            </select>
            <div  v-if="isValid" v-show="!showUrl">
                <div v-on:click="showUrl=!showUrl, createChat()"  id="createCh">Create</div>
            </div>
        </div>
        <br>
        <div v-show="showUrl">
            Chat Link to share:
            <input v-show="showUrl" v-bind:value="url"  ref="chatId" v-on:click="copyToClip()"></a>
            <a v-show="showUrl" v-bind:href="url">Go to chat</a>
            <div id="snackbar" >Copied: {{url}}</div>
        </div>
    </div>


    <script src="/js/loginVue.js"></script>
</body>

</html>