body{
    font-family: 'Nunito';
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#nickname{
    margin-top: 30px;
    position: relative;
    width: 115px;
}
#save {
    background-color: #575ed8;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding-top: 9px;
    height: 25px;
    font-weight: bold;
}
#createCh {
    background-color: #575ed8;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding-top: 9px;
    height: 25px;
    font-weight: bold;
}
#chat{
    width: 380px;
    margin: 30px auto;
   /*  border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px; */
    position: relative;
}

#chat-window{
    height: 350px;
    overflow: auto;
    background: #f9f9f9;
}
div#onlineList {
    width: max-content;
    margin-right: 5px;
    margin-top: 25px;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

.send{
    float: right;
    margin: 0px 10px 14px 0px;
}
ul {
    list-style: none;
  }
  
  ul li::before {
    content: "\2022";
    color: #07e634;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
/* input#handle{
    position: absolute;
    bottom: -35px;
}
select#language{
    position: absolute;
    bottom: -25px;
    right: 0;
} */

textarea#message{
    position: absolute;
    bottom: 5px;
    width: 85%;
}
div#mess-send {
    position: absolute;
    bottom: -65px;
    width: 100%;
}
button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 12%;
    border-radius: 0 0 2px 2px;
    position: absolute;
    /* bottom: -140px; */
    position: absolute;
    left: 88%;
    bottom: 7px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 600px;
    height: 510px;
  }
  
  td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #e2ecee;
  }
  tbody {
    vertical-align: top;
}
tr {
    height: fit-content;
}


div#name {
    color: #575ed8;
    font-weight: bold;
    margin: 5px;
    font-size: 16px;
}

div#translate {
    /* border: 1px solid greenyellow; */
    border-radius: 5px;
    background-color: #ccf0fd;
    padding: 5px 10px 5px 10px;
    max-width: fit-content;
    margin: 5px 10px 0px 35px;
    font-weight: 500;
    color: black;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

div#original {
    /* border: 1px solid greenyellow; */
    border-radius: 5px;
    background-color: #eee;
    padding: 4px 4px 4px 4px;
    max-width: fit-content;
    margin: 5px 40px 5px 10px;
    font-weight: 500;
    font-size: 12px;
    /* display: flex; */
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#output p {
    margin: 0 20px;
    color: #6f6e6e;
    font-size: 11px;
}


#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }